:root {
  --main-radius: 5px;
  --main-padding: 5px;
  --main-bg-color: rgba(255, 173, 0, 1);
}
.bk {
  background-color: #1b1b1b;
}
.nombre {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  font-size: 16px;
}
.navt {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  font-size: 12px;
}
.navt1 {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  font-size: 16px;
}
.cont1 {
  display: grid;
  height: 39vh;
  grid-template-columns: 50% 50%;
  grid-template-rows: 40px 2fr;
  grid-template-areas:
    "nav nav"
    "head logo";
  gap: 0.2rem;
}

.head {
  background-color: var(--main-bg-color);
  grid-area: head;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
  align-content: center;
  justify-items: start;
  position: relative;
  padding-left: 60px;
}
.nav {
  grid-area: nav;
  background-color: #1b1b1b;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
}
.nets {
  grid-area: logo;
  align-content: center;
  justify-items: center;
  background-color: var(--main-bg-color);
  border-radius: var(--main-radius);
}
.logo1 {
  grid-area: logo;
  align-content: center;
  justify-items: center;
  background-color: var(--main-bg-color);
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 215px;
  height: 290px;
  border: 2px solid #1b1b1b;
  width: 290px;
  border-radius: 150px;
}

.sizel {
  width: 250px;
}

.cont2 {
  display: grid;
  height: auto;
  justify-content: center;
  grid-template-columns: 5% 20% 50% 20% 5%;
  grid-template-rows: 0.6fr 1.2fr 2.5fr 1fr 0.7fr 1fr 0.7fr 1fr 0.7fr 1fr 0.7fr 1fr 30px;
  grid-template-areas:
    ". about about about ."
    ". iam iam iam ."
    ". wido wido wido ."
    ". edu edu edu ."
    ". logo5 tit1 . ."
    ". logo5 desc1 . ."
    ". logo2 tit2 . ."
    ". logo2 desc2 . ."
    ". logo3 tit3 . ."
    ". logo3 desc3 . ."
    ". logo4 tit4 . ."
    ". logo4 desc4 . ."
    "ftr ftr ftr ftr ftr";
  gap: 0.2rem;
  margin-top: 3px;
}

.ftr {
  grid-area: ftr;
  align-self: center;
  justify-self: center;
  background-color: var(--main-bg-color);
  border-radius: var(--main-radius);

  width: 100%;
}
.about {
  grid-area: about;
  background-color: var(--main-bg-color);
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
  align-self: center;
  justify-self: center;
  border: 2px dotted #3d3d3d;
  width: 100%;
}

.bebas {
  font-family: "Boldonse", system-ui;
  font-weight: 900;
  font-style: normal;
  font-size: 60px;
  font-stretch: 200%;
  text-align: center;
}
.logo01 {
  width: 150px;
}

.bebas1 {
  font-family: "Boldonse", system-ui;
  font-weight: 100;
  font-style: normal;
  font-size: 16px;
}
.bebas2 {
  font-family: "Boldonse", system-ui;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
}
.bebas3 {
  font-family: "Boldonse", system-ui;
  font-weight: 300;
  font-style: normal;
  font-size: 16px;
}
.bebas4 {
  font-family: "Boldonse", system-ui;
  font-weight: 700;
  font-style: normal;
  font-size: 16px;
}
.bebas5 {
  font-family: "Boldonse", system-ui;
  font-weight: 500;
  font-style: normal;
  font-size: 22px;
}
.iam {
  grid-area: iam;
  background-color: var(--main-bg-color);
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
}
.wido {
  grid-area: wido;
  background-color: var(--main-bg-color);
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0.2rem;
}

.skill {
  background: #367063;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
  justify-items: center;
  padding: 20px;
  text-align: justify;
}
.mec {
  text-align: center;
}
.bycnt {
  background-color: var(--main-bg-color);
  border-radius: var(--main-radius);
  padding-top: 50px;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 50px;
}
.fitpdf {
  margin-top: 80px;
  height: 700px;
}

.edu {
  grid-area: edu;
  background-color: var(--main-bg-color);
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
  align-self: center;
  justify-self: center;
  border: 2px dotted #3d3d3d;
  width: 100%;
}

.tit1 {
  grid-area: tit1;
  background-color: var(--main-bg-color);
  border-radius: var(--main-radius);
  height: 100%;
  width: 100%;
  align-self: center;
  justify-self: center;
}
.tit2 {
  grid-area: tit2;
  background-color: var(--main-bg-color);
  border-radius: var(--main-radius);

  height: 100%;
  width: 100%;
  align-self: center;
  justify-self: center;
}
.tit3 {
  grid-area: tit3;
  background-color: var(--main-bg-color);
  border-radius: var(--main-radius);
  height: 100%;
  width: 100%;
  align-self: center;
  justify-self: center;
}
.tit4 {
  grid-area: tit4;
  background-color: var(--main-bg-color);
  border-radius: var(--main-radius);
  height: 100%;
  width: 100%;
  align-self: center;
  justify-self: center;
}
.desc1 {
  grid-area: desc1;
  background-color: var(--main-bg-color);
  border-radius: var(--main-radius);
  height: 100%;
  width: 100%;
  align-self: center;
  justify-self: center;
}
.desc2 {
  grid-area: desc2;
  background-color: var(--main-bg-color);
  border-radius: var(--main-radius);
  height: 100%;
  width: 100%;
  align-self: center;
  justify-self: center;
}
.desc3 {
  grid-area: desc3;
  background-color: var(--main-bg-color);
  border-radius: var(--main-radius);
  height: 100%;
  width: 100%;
  align-self: center;
  justify-self: center;
}
.desc4 {
  grid-area: desc4;
  background-color: var(--main-bg-color);
  border-radius: var(--main-radius);
  height: 100%;
  width: 100%;
  align-self: center;
  justify-self: center;
}

.logo5 {
  grid-area: logo5;
  align-self: center;
  justify-self: center;
  background-color: var(--main-bg-color);
  border-radius: var(--main-radius);
}
.logo2 {
  grid-area: logo2;
  align-self: center;
  justify-self: center;
  background-color: var(--main-bg-color);
  border-radius: var(--main-radius);
}
.logo3 {
  grid-area: logo3;
  align-self: center;
  justify-self: center;
  background-color: var(--main-bg-color);
  border-radius: var(--main-radius);
}
.logo4 {
  grid-area: logo4;
  align-self: center;
  justify-self: center;
  background-color: var(--main-bg-color);
  border-radius: var(--main-radius);
}
