:root {
  --main-radius: 5px;
  --main-padding: 5px;
  --main-bg-color: rgba(255, 173, 0, 1);
}
.bk {
  background-color: #1b1b1b;
}
.nombre {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  font-size: 16px;
}
.navt {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  font-size: 12px;
}
.navt1 {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  font-size: 16px;
  
}
.cont1 {
  display: grid;
  height: 39vh;
  grid-template-columns: 50% 50%;
  grid-template-rows: 40px 2fr;
  grid-template-areas:
    "nav nav"
    "head logo";
  gap: 0.2rem;
}

.head {
  background-color: var(--main-bg-color);
  grid-area: head;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
  align-content: center;
  justify-items: center;
}
.nav {
  grid-area: nav;
  background-color: #1b1b1b;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
}
.logo {
  grid-area: logo;
  align-content: center;
  justify-items: center;
  background-color: var(--main-bg-color);
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
}

.sizel {
  width: 250px;
}

.cont2 {
  display: grid;
  height: auto;
  grid-template-columns: 18% 50% 32%;
  grid-template-rows: 0.6fr 1.2fr 2.5fr 3px;
  grid-template-areas:
    "srch about about"
    "srch iam iam"
    "srch wido wido"
    "ftr ftr ftr";
  gap: 0.2rem;
  margin-top: 3px;
}

.ftr {
  grid-area: ftr;
  align-self: center;
  justify-self: center;
  background-color: var(--main-bg-color);
  border-radius: var(--main-radius);

  width: 100%;
}
.about {
  grid-area: about;
  background-color: var(--main-bg-color);
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
  align-self: center;
  justify-self: center;
  border: 2px dotted #3d3d3d;
  width: 100%;

}

.bebas {
  font-family: "Boldonse", system-ui;
  font-weight: 900;
  font-style: normal;
  font-size: 60px;
  font-stretch: 200%;
  text-align: center;
  
}
.logo01 {
  width: 150px;
}
.srch {
  position: relative;
  grid-area: srch;
  background-color: var(--main-bg-color);
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
  align-content: center;
  justify-items: center;
}

.loc01 {
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translate(-50%, -50%);
}
.loc02 {
  position: absolute;
  bottom: 70px;
  left: 50%;
  transform: translate(-50%, -50%);
}
.bebas1 {
  font-family: "Boldonse", system-ui;
  font-weight: 100;
  font-style: normal;
  font-size: 16px;
}
.bebas2 {
  font-family: "Boldonse", system-ui;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
}
.bebas3 {
  font-family: "Boldonse", system-ui;
  font-weight: 300;
  font-style: normal;
  font-size: 16px;
}
.bebas4 {
  font-family: "Boldonse", system-ui;
  font-weight: 700;
  font-style: normal;
  font-size: 16px;
}
.bebas5 {
  font-family: "Boldonse", system-ui;
  font-weight: 500;
  font-style: normal;
  font-size: 22px;
}
.iam {
  grid-area: iam;
  background-color: var(--main-bg-color);
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
}
.wido {
  grid-area: wido;
  background-color: var(--main-bg-color);
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0.2rem;
}

.skill {
  background: #367063;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
  justify-items: center;
  padding: 20px;
  text-align: justify;
}
.mec {
  text-align: center;
}
.bycnt {
  background-color: var(--main-bg-color);
  border-radius: var(--main-radius);
  padding-top: 50px;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 50px;
}